---
import Base from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
---
<Base title="From the Artist - Orbital Temple">

  <main class="artwork-page">

    <!-- Main Title -->
    <h1 class="artwork-title">
      From the artist
    </h1>

    <!-- Content -->
    <p class="artwork-text">
      There's so much power in a name. David, Abdias, Carolina. Names evoke images, memories, connections. During the pandemic, however, it was rare to find a name in the news coverage. Covid-19 victims too soon became statistics, hollow and cold numbers. But no one wants to be reduced to a number – people deserve to exist in prose.
    </p>

    <p class="artwork-text">
      Founding the Innumerable Memorial (2020) was a way to act, as an artist, on the pandemic in Brazil. The artwork, presented through different digital platforms and a soon to be physical monument, is a ongoing collective set of life stories of Covid-19 fatal victims written by hundreds of volunteers that interview thousands of family members, friends and loved ones.
    </p>

    <p class="artwork-text">
      Over the last five years, I've been committed to the power of this initiative, a collective effort to build memory, affection, respect and a different future. The project impacted an estimate of 1 in each 6 adults in the country, a total of around 31 million people.
    </p>

    <p class="artwork-text">
      As I listened to the thousand stories we collected, I understood that the process of remembering is healing for the individual and protective for society. We must remember. The same mistakes will be made if we forget those that have passed – and why they left us.
    </p>

    <p class="artwork-text">
      Orbital Temple is a continuation of my artistic practice. It's a development of my previous works and of my journey investigating the fundamentals of human connection and technology – and I hope you'll embark on this journey with us.
    </p>

    <p class="artwork-text artwork-text--section-end">
      Kindly,<br>
      Edson Pavoni
    </p>

    <!-- Footer -->
    <footer class="artwork-footer">
      <Footer />
    </footer>

  </main>

</Base>
