---
import Base from "../layouts/BaseLayout.astro";
import Footer from "../components/footer.astro";
---
<Base title="Education & Open Source - Orbital Temple">

  <main class="artwork-page">

    <!-- Main Title -->
    <h1 class="artwork-title">
      Education & Open Source
    </h1>

    <!-- Content -->
    <p class="artwork-text">
      All technology developed for the Orbital Temple mission will be open source and available online in Portuguese, English and Spanish, fostering the advancement of space exploration in the Global South. New missions and projects can use Orbital Temple as a foundation for their own artistic or scientific experiments.
    </p>

    <p class="artwork-text artwork-text--section-end">
      As a part of its educational mission, it has a multi language course for Global South teens on how to build and launch a satellite. It will be a hands-on opportunity to learn about satellite technology and put it into practice. Anyone above the age of 16 will be able to build their own satellite, learning about the history of art in space, fundamental concepts of electronics, mechanics and space science, including how to finance the projects and how to build an antenna to communicate with the satellite in orbit.
    </p>

    <!-- Footer -->
    <footer class="artwork-footer">
      <Footer />
    </footer>

  </main>

</Base>
