---
import Base from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import MilestonesContent from "../components/MilestonesContent";
---
<Base title="Milestones & Mentions - Orbital Temple">

  <main class="artwork-page">

    <MilestonesContent client:only="react" />

    <!-- Footer -->
    <footer class="artwork-footer">
      <Footer />
    </footer>

  </main>

</Base>
