---
import Base from "../layouts/BaseLayout.astro";
import Footer from "../components/Footer.astro";
import SpaceLaunchContent from "../components/SpaceLaunchContent";
---
<Base title="Space Launch - Orbital Temple">

  <main class="artwork-page">

    <SpaceLaunchContent client:only="react" />

    <!-- Footer -->
    <footer class="artwork-footer">
      <Footer />
    </footer>

  </main>

</Base>
