---
import Base from "../layouts/BaseLayout.astro";
import Footer from "../components/footer.astro";
---
<Base title="Sponsors - Orbital Temple">

  <main class="artwork-page">

    <!-- Main Title -->
    <h1 class="artwork-title">
      Sponsors
    </h1>

    <!-- Content -->
    <p class="artwork-text artwork-text--section-end">
      Pearmill
    </p>

    <!-- Footer -->
    <footer class="artwork-footer">
      <Footer />
    </footer>

  </main>

</Base>
