---
import Base from "../layouts/BaseLayout.astro";
import Footer from "../components/footer.astro";
---
<Base title="Team - Orbital Temple">

  <main class="artwork-page">

    <!-- Main Title -->
    <h1 class="artwork-title">
      Team
    </h1>

    <!-- Team Members -->
    <p class="artwork-text">
      Edson Pavoni, artist
    </p>

    <h2 class="section-subtitle">
      Aerospace & Systems Engineering
    </h2>
    <p class="artwork-text">
      Pedro Kaled, João Pedro Polito, Victor Baptista & João Victor Alves
    </p>

    <h2 class="section-subtitle">
      Electronic Engineering
    </h2>
    <p class="artwork-text">
      André Biagioni, João Pedro Polito & VK
    </p>

    <h2 class="section-subtitle">
      Software
    </h2>
    <p class="artwork-text">
      Jonathan Querubina
    </p>

    <h2 class="section-subtitle">
      Design and Architecture
    </h2>
    <p class="artwork-text">
      Guilherme Bullejos
    </p>

    <h2 class="section-subtitle">
      3D Printing
    </h2>
    <p class="artwork-text">
      Solid Concepts, under the leadership of Eduardo Dias
    </p>

    <h2 class="section-subtitle">
      3D Rendering
    </h2>
    <p class="artwork-text">
      Guilherme Bullejos & RiseNy&Partners
    </p>

    <h2 class="section-subtitle">
      Research
    </h2>
    <p class="artwork-text">
      Roberta Savian Rosa & Clara Marques
    </p>

    <h2 class="section-subtitle">
      Exhibition Production, Photography & Content Creation
    </h2>
    <p class="artwork-text">
      Clara Marques
    </p>

    <h2 class="section-subtitle">
      Exhibition's Silk Screening
    </h2>
    <p class="artwork-text">
      Daphne Alves
    </p>

    <h2 class="section-subtitle">
      Educational Project
    </h2>
    <p class="artwork-text">
      IdeaSpace
    </p>

    <h2 class="section-subtitle">
      Special Thanks
    </h2>
    <p class="artwork-text artwork-text--section-end">
      Anne Valls, Marcello Dantas & Matias Campos Abad
    </p>

    <!-- Footer -->
    <footer class="artwork-footer">
      <Footer />
    </footer>

  </main>

</Base>
