---
import LanguageSwitcher from "./LanguageSwitcher.tsx";
const { id = "lang-drawer" } = Astro.props;
---
<aside id={id} class="drawer drawer--left" style="background-color: #fff; color: #553903;"
role="dialog" aria-modal="true" aria-labelledby="lang-title" data-open="false">
  <button style="position: absolute; top: 1.5rem; left: 2rem; padding: 0.5rem; background: none; border: none; cursor: pointer;" data-close aria-label="close">
    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 1.8rem; height: 1.8rem;">
      <g clip-path="url(#clip0_1_1353)">
        <mask id="mask0_1_1353" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="30" height="30">
          <path d="M30 0H0V30H30V0Z" fill="white"/>
        </mask>
        <g mask="url(#mask0_1_1353)">
          <path class="close-icon-path" d="M23.75 8.0125L21.9875 6.25L15 13.2375L8.0125 6.25L6.25 8.0125L13.2375 15L6.25 21.9875L8.0125 23.75L15 16.7625L21.9875 23.75L23.75 21.9875L16.7625 15L23.75 8.0125Z" style="fill: #553903;"/>
        </g>
      </g>
      <defs>
        <clipPath id="clip0_1_1353">
          <rect width="30" height="30" fill="white"/>
        </clipPath>
      </defs>
    </svg>
  </button>

  <div class="menu-drawer-content" style="align-items: center !important; text-align: center !important;">
    {/* React component for language switching */}
    <LanguageSwitcher client:load />
  </div>
</aside>
